.loginsignup{
     width: 100%;
     height: 100vh;
     background: #fce3fe;
     padding-top: 50px;

}

.loginsignup-container{
     width: 400px;
     height: 400px;
     background: white;
     margin: auto;
     padding: 40px 60px;
     border-radius: 10px;

}
.loginsignup-container h1{
     margin: 0px 20px;
}
.loginsignup-fields{
     display: flex;
     flex-direction: column;
     margin-top: 30px;
     gap: 20px;

}
.loginsignup-fields input{
     height: 40px;
     width: 100%;
     padding-left: 20px;
     border: 1px solid #c9c9c9;
     outline: none;
     color: #5c5c5c;
     font-size: 16px;

}
.loginsignup-container button{
     width: 400px;
     height: 50px;
     border: none;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;

     color: white;
     background: #ff4141;
     margin-top: 20px;

}
.loginsignup-login{
     margin-top: 20px;
     color: #5c5c5c;
     font-size: 16px;
     font-weight: 600;

}
.loginsignup-login span{
     color:#ff4141;
     font-weight: 600;

}
.loginsignup-agree{
     display: flex;
     align-items: center;
     margin-top: 25px;
     gap: 20px;
     color: #5c5c5c;
     font-size: 12px;
     font-weight: 700;
}